.sacola {
    font-size: 14px;
    text-align: center;
    width: 140px;
    padding-right: 5px;
    float: right;
    margin-top:50px;
    }
    .imag2{
        float: right;
        margin-top: 40px;
        margin-right: 20px;
    }
  
    .menu-opcoes ul {
    font-size: 15px;
    clear: both;
    float: right;
    margin-top: 15px;
    }
    .menu-opcoes li{
        display: inline;
    }
    .menu-opcoes a {
    color: #003366;
    float: right;
    margin-left: 15px;
    margin-right: 10px;
    text-decoration: none;

    }
    body {
        color: #333333;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
       }
    
    .busca,
    .menu-departamentos {
    position: relative;
    background-color: #fffdfd;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    }
    .busca h2,
    .busca form,
    .menu-departamentos h2 {
    margin: 10px;
    }
    .menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
    }
    .menu-departamentos a {
    color: #333333;
    text-decoration: none;
    }
    .busca input[type=search] {
    width: 170px;

    }
    .busca,
    .menu-departamentos {
    float: left;
    }
    .menu-departamentos {
    clear: left;
    }
    .destaque {
    margin-top: 10px;
    }
    .menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
    }
    .painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    }
    .banner-destaque{
        position: relative;
        margin-left: 50px;
        margin-top:10px;
        display: inline-block;
    }
    .painel {
        margin: 10px 0;
        padding: 10px;
        width: 445px;
       }
       .novidades {
        float: left;
       }
       .mais-vendidos {
        float: right;
       }
       .painel li {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        margin: 2px;
        padding-bottom: 10px;
       }
       .painel h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
       }
       .painel a {
        color: #333;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
       }
       .novidades {
        background-color: #f5dcdc;
        text-align: center;
        margin-left: 50px;
        
       }
       .mais-vendidos {
        background-color: #dcdcf5;
        text-align: center;
        margin-right: 50px;
        }
       footer{
        display: block;  
        position: relative;
        width: 100%;
        text-align: center;
       }
       footer p{
        width: 200px;
        display: inline;
       }
       footer div p{
        font-style: italic; 
       }
       article{
        height: 400px;

       }